@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

.font-lexend-deca {
	font-family: 'Lexend Deca', sans-serif !important;
}

.font-lexend {
	font-family: 'Lexend', sans-serif !important;
}

body {
	font-family: 'Lexend', sans-serif !important;
}

.font-concert-one {
	font-family: 'Concert One', sans-serif;
	font-weight: 400;
	font-style: normal;
}

@layer components {
	.spinner {
		@apply border-4 border-gray-200/50 border-t-gray-500/50 rounded-full w-10 h-10 animate-spin;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.uai.userway_dark {
	top: 50px;
}
